body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #031f47;
    color: #d3aeda;
    text-align: center;
    padding: 65px 0;
    font-family:Georgia, 'Times New Roman', Times, serif, sans-serif; /* Remplacez 'Nouvelle Police' par le nom de la police que vous souhaitez utiliser */
}

#test-personnalite {
    background-color: #d3aeda;
    color: #031f47;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
nav {
    background-color: #2a2929dc;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 60px;
}

/* Styles pour la version écran large */
nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}
nav ul li:first-child {
    margin-left: 20px; 
  }

nav li {
    margin-right: 20px;
}
/* Styles pour la version mobile (écran étroit) */
@media screen and (max-width: 768px) {
    nav ul {
        list-style: none; /* Retirez les puces de la liste */
        display: none; /* Masquer la liste par défaut */
        flex-direction: row;
        border-style: 50px;
        position: relative;
        border-radius: 2px;
        background-color:2a2929dc;
        left: 0;
        width: 100%;
        overflow-y: auto; /* Ajoutez un défilement vertical */
        max-height: calc(100vh - 60px); /* Limitez la hauteur de la liste à la hauteur de l'écran moins la hauteur de la barre de navigation */
    }

    nav ul.active {
        display: flex; /* Afficher la liste lorsque le bouton est cliqué */
    }

    nav button#menu-toggle {
        display: block;
        border-radius: 10px;
        background-color: #c698d0;
        font-size: 15px;
        font-family: Georgia, sans-serif;
    }
}


/* Cacher le bouton sur les écrans larges */
@media screen and (min-width: 769px) {
    nav button#menu-toggle {
        display: none;
    }
}


nav a {
    text-decoration: none;
    color: #d3aeda;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

#introduction-jung, #introduction-mbti {
    margin-bottom: 30px;
}

#introduction-jung img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

p {
    font-size: 18px; 
    font-family: Arial, sans-serif; 
}

.image-rotate {
    transform: rotate(4deg);
}
.image-opacity {
    transition: opacity 0.3s ease;
}

.image-opacity:hover {
    opacity: 0.8;
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif, sans-serif; 
    font-size: 40px;
}
